@import "../theme";

.gameroom {
    &.buttons-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 5px;
        gap: 20px;
        width: 30%;

        &.row-flex {
            flex-direction: row;
        }
    }

    &.container {
        flex-direction: row;
        @include center;
        width: $DESKTOP_WIDTH;
        gap: 5px;

        &.content {
            flex-direction: column;
        }
    }

    &.header {
        padding-top: 10px;
    }

    &.settings {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &.options-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &.option {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 50px;
    }
    select {
        width: 100px;
        border: none;
        text-align: center;
        border-radius: 5px;
    }
    
    // For toggle switch
    .switch {
        position: relative;
        display: inline-block;
        width: 30px;
        height: 17px;

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #cccccc;
            -webkit-transition: 0.4s;
            transition: 0.4s;

            &.round {
                border-radius: 17px;

                &:before {
                    border-radius: 50%;
                }
            }

            &:before {
                position: absolute;
                content: "";
                height: 13px;
                width: 13px;
                left: 2px;
                bottom: 2px;
                background-color: white;
                -webkit-transition: 0.4s;
                transition: 0.4s;
            }
        }

        input {
            opacity: 0;
            width: 0;
            height: 0;

            &:checked {
                + .slider {
                    background-color: #2196f3;
                }

                + .slider:before{
                    -webkit-transform: translateX(13px);
                    -ms-transform: translateX(13px);
                    transform: translateX(13px);
                }
            }

            &:focus {
                + .slider {
                    box-shadow: 0 0 1px #2196f3;
                }
            }

            &.slider {
                &:before {
                    -webkit-transform: translateX(13px);
                    -ms-transform: translateX(13px);
                    transform: translateX(13px);
                }
            }
        }

        
    }
}
