@import "../theme";

.gameroom {
    &.buttons-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 5px;
        gap: 20px;
        width: 30%;

        &.row-flex {
            flex-direction: row;
        }
    }

    &.container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: $DESKTOP_WIDTH;
        height: $DESKTOP_HEIGHT / 2;
    }

    &.subcontainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        gap: 20px;
    }

    &.header {
        padding-top: 10px;
    }

    &.pin {
        font-size: x-large;
        background-color: white;
        height: 60px;
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
        margin: 0px 0px 20px 0px;
        p {
            color: black;
        }
    }

    &.waiting{
        background-color: rgba(0, 0, 0, 0.342);
        text-align: center;

        p {
            padding: 5px;
            font-style: italic;
        }
    }
}
