@import "../theme";

.gameroom {
    &.buttons-container{
        display: flex;
        flex-direction: column;
        margin: auto;
        gap: 10px;
    }

    &.container{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &.header {
        padding-top: 10px;
    }
}