@import "../theme";

.header {
  &.container {
    @include center;
  }

  &.title {
    font-weight: bold;
    padding-left: 20px;
    padding-top: 20px;
    color: black;
    text-align: center;
  }
}