@import "../theme";

.login {
  &.header {
    padding-top: 2em;
    min-height: 400px;
    flex-direction: column;
  }
  &.container {
    padding: 40px;
    padding-top: 60px;
    min-height: 400px;
    @include center;
    flex-direction: column;
  }
  &.form {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 30em;
    min-height: 20em;
    font-size: 16px;
    font-weight: 300;
    padding: 40px;
    border-radius: 0.75em;
    background-color: $background;
    transition: opacity 0.5s ease, transform 0.5s ease;
    box-shadow: $dropShadow;
  }
  &.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &:disabled {
      user-select: none;
      background-color: white;
      color: white;
    }
  }
  &.input {
    width: 20em;
    font-size: large;
    font-weight: 500;
    max-width: 30em;
    user-select: none;
    height: 35px;
    padding-left: 15px;
    border: none;
    border-radius: 0.75em;
    margin-bottom: 20px;
    color: $fieldTextColor;
    &.invalid {
      animation: shake2 0.4s ease-in-out 0s 1;
      color: $error-color;
      background-color: $error-field-color;
    }
  }
  &.label {
    user-select: none;
    color: $textColor;
    margin-bottom: 10px;
    font-size: large;
    font-weight: 500;
  }
  &.button-container {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    width: 100%;
  }
  &.sign-in-link {
    user-select: none;
    display: flex;
    justify-content: center;
    border: none;
    background-color: transparent;
    color: white;
    font-size: medium;
    font-weight: 500;
    margin-top: 20px;
    width: 100%;
    text-decoration: underline;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      scale: 1.1;
    }
    &.locked {
      &:hover {
        cursor: default;
        scale: 1.0;
      }
    }
  }
}
.password-field {
  position: relative;
}

.password-toggle-icon {
  position: absolute;
  margin: 10px;
  right: 0px;
  align-items: center;
  cursor: pointer;
}
