@import "../theme";

.start {
  &.container {
    display: flex;
    margin-top: 2em;
    min-height: 400px;
    /* we include the center mixin defined in _theme.scss and save three duplicate lines :) */
    @include center;
    flex-direction: column;
  }
  &.subcontainer {
    display: flex;
    margin-top: 2em;
    min-height: 400px;
    /* we include the center mixin defined in _theme.scss and save three duplicate lines :) */
    @include center;
    flex-direction: row;
  }
  &.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    max-width: 30em;
    margin: 20px;
    min-height: 20em;
    font-size: 16px;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;
    border-radius: 0.75em;
    background-color: $background;
    transition: opacity 0.5s ease, transform 0.5s ease;
    box-shadow: $dropShadow;
  }
  &.guide {
    @include center;
    flex-direction: column;
  }
  &.guide-container {
    display: flex;
    margin-top: 20px;
    height: 20px;
    /* we include the center mixin defined in _theme.scss and save three duplicate lines :) */
    @include center;
    flex-direction: row;
    justify-content: space-between;
  }
  &.button-container {
    display: flex;
    justify-content: center;
    margin-top: 2em;
  }
  &.sign-in-link {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: underline;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      scale: 1.1;
    }
  }
}