@import "../theme";

.avatar-preview {
    &:hover {
        scale: 1.1;
    }
    &.active {
        border-color: white;
        &:hover {
            border-color: white;
        }
    }
    &.inactive {
        &:hover {
            border-color: $accent;
        }
    }
    //background-image: url("../../icons/user-svgrepo-com.svg");
    background-position: center;
    background-size: cover;
    -webkit-user-drag: none;
    cursor: pointer;
    border: solid;
    border-color: $accentDark;
    background-color: $background;
    height: 90px;
    width: 90px;
    border-width: 5px;
    border-radius: 50%;
    transition: all 0.3s ease;
    box-shadow: $dropShadow;
}