@import "../theme";

.avatar-preview {
    &:hover {
        scale: 1.1;
    }
    &.active {
        border-color: white;
        &:hover {
            border-color: white;
        }
        &.avatar1 {
            background-image: url("../../icons/avatars/avatar1.svg");
        }
        &.avatar2 {
            background-image: url("../../icons/avatars/avatar2.svg");
        }
        &.avatar3 {
            background-image: url("../../icons/avatars/avatar3.svg");
        }
        &.avatar4 {
            background-image: url("../../icons/avatars/avatar4.svg");
        }
        &.avatar5 {
            background-image: url("../../icons/avatars/avatar5.svg");
        }
        &.avatar6 {
            background-image: url("../../icons/avatars/avatar6.svg");
        }
    }
    &.inactive {
        &:hover {
            border-color: $accent;
        }
        &.avatar1 {
            background-image: url("../../icons/avatars/avatar1.svg");
        }
        &.avatar2 {
            background-image: url("../../icons/avatars/avatar2.svg");
        }
        &.avatar3 {
            background-image: url("../../icons/avatars/avatar3.svg");
        }
        &.avatar4 {
            background-image: url("../../icons/avatars/avatar4.svg");
        }
        &.avatar5 {
            background-image: url("../../icons/avatars/avatar5.svg");
        }
        &.avatar6 {
            background-image: url("../../icons/avatars/avatar6.svg");
        }
    }
    background-position: center;
    background-size: cover;
    -webkit-user-drag: none;
    cursor: pointer;
    border: solid;
    border-color: $accentDark;
    background-color: $background;
    height: 90px;
    width: 90px;
    border-width: 5px;
    border-radius: 50%;
    transition: all 0.3s ease;
    box-shadow: $dropShadow;
}