@import "../theme";

.avatar-container {
    width: 600px;
    height: 400px;
    min-width: 500px;
    min-height: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: $background;
    padding: 50px;
    margin: 50px;
    border-radius: 2em;
    justify-content: flex-start;
    overflow-y: scroll;
    @include scrollbar;
    align-content: space-evenly;
}
.avatar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    height: 100px;
    width: 100px;
    margin: 10px;
}
