@import "../theme";

.drawContainer {
    display: flex;
    flex-direction: column;

    &.drawCanvas {
        background-color: white;
        border-radius: 20px;
        cursor: crosshair;
        box-shadow: $dropShadow;
        &.brush {
            cursor: url("../../icons/PaintBrush.svg"), auto;
        }
    }

    &.container {
        display: flex;
        flex-direction: row;
    }

    &.subcontainer {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &.tools {
        user-select: none;
        display: flex;
        flex-direction: column;
        padding: 20px;
        margin: 0 20px 0 0px;
        background-color: $display-box-color;
        border-radius: 20px;
        gap: 5px;
        align-items: center;
        box-shadow: $dropShadow;
    }

    &.textPrompt {
        user-select: none;
        font-size: x-large;
        font-weight: 600;
        text-align: center;
        margin: 20px;
    }

    input[type="color"] {
        border: none;
        border-style: none;
        cursor: pointer;
        background-color: transparent;
        transition: all 0.3s ease;
        &:hover {
            scale: 1.1;
        }
    }
    input[type="range"] {
        accent-color: $accentDark;
        cursor: grab;
        width: 100%;
    }

    &.label {
        font-size: large;
        font-weight: 600;
        text-shadow: $dropShadow;
    }

    &.separator {
        border: none;
        border-radius: 2em;
        background: white;
        color: white;
        border-color: white;
        height: 3px;
        width: 100%;
            
    }

    &.button {
        border-style: none;
        border-color: $accent;
        @include center;
        border-radius: 2em;
        padding: 15px;
        margin: 1px;
        font-weight: 600;
        height: 30px;
        width: 100%;
        cursor: pointer;
        background-color: $accent;
        box-shadow: $dropShadow;
        transition: all 0.3s ease;
        &.selected {
            background-color: white;
        }
        &:hover {
            scale: 1.1;
        }
        &:active {
            background-color: $accentDark;
        }
    }

    .time {
        font-size: large;
        text-align: center;
    }

    &.timer {
        margin: 0 0px 0 20px;
    }
}
