@import "../theme";

.presentation {
    user-select: none;
    &.text {
        background-color: white;
        color: black;
        text-align: center;
        width: fit-content;
        border-radius: 2em;
        font-size: x-large;
        font-weight: 600;
        padding: 20px;
        box-shadow: $dropShadow;
    }

    &.screen-layer {
        border: none;
        width: 100vw;
        height: 100vh;
        background-color: transparent;
        position: fixed;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
        z-index: 1000;
        &.closed {
          transform: translate3d(-100vw, 0, 0);
          opacity: 0;
          visibility: hidden;
        }
        &.open {
          transform: translate3d(0vw, 0, 0);
          opacity: 1;
          visibility: visible;
        }
      }

    &.title {
        user-select: none;
        @include center;
        margin-bottom: 10px;
        font-weight: 900;
        font-size: 3em;
      }

    &.username {
        color: black;
        font-size: larger;
        font-weight: 600;
        margin: 5px;
        text-shadow: $dropShadow;

        &.leftalign {
            text-align: start;
        }

        &.rightalign {
            text-align: end;
        }
    }

    &.textContainer {
        margin-right: auto;
        padding-left: 20px;
    }

    &.drawingContainer {
        border-radius: 2em;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-right: 20px;
        margin-left: auto;
    }

    &.drawingDownloadContainer {
        position: relative;
        transition: all 0.3s ease;

        &:hover {
            .presentation.download {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &.drawing {
        -webkit-user-drag: none;
        border-radius: 20px;
        max-height: 256px;
        background-color: white;
        box-shadow: $dropShadow;
    }

    &.container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: $display-box-color;
        border-radius: 2em;
        border-bottom-left-radius: 3em;
        border-bottom-right-radius: 3em;
        padding-left: 10px;
        padding-right: 10px;
        margin: auto;
        min-height: 450px;
        min-width: 70em;
        max-height: $DESKTOP_HEIGHT * 0.6;
        max-width: 100em;
        width: $DESKTOP_WIDTH / 2;
        box-shadow: $dropShadow;
        overflow: hidden;
        --container-width: width;
        --container-height: height;
    }

    &.scroll-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: $menu-color;
        border-radius: 2em;
        margin: 20px;
        margin-bottom: 30px;
        width: calc(var(--container-width));
        height: calc(var(--container-height));
        overflow-x: hidden;
        overflow-y: scroll;
        @include scrollbar;
    }

    &.subContainer {
        margin: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &.separator {
        @include center;
    }

    &.buttonsContainer {
        @include center;
        justify-content: space-around;

        &.presentationButton {
            padding: 20px;
            margin: 20px;
            transition: all 0.3s ease;

            &.hidden {
                visibility: hidden;
            }
            &:disabled {
                border-radius: 2em;
                opacity: 1;
                color: white;
                text-transform: none;
                font-size: large;
                background-color: $background;
            }
        }
    }

    &.voting {
        cursor: pointer;
        border: none;
        background-color: transparent;
        padding: 10px;
        border-radius: 2em;
        color: $background;
        font-size: larger;
        font-weight: 800;
        transition: all 0.3s ease;
        &.selected {
            color: $highlights;
        }
        &.hidden {
            visibility: hidden;
            opacity: 1;
        }
        &:hover {
            scale: 1.1;
        }
    }

    &.download {
        opacity: 0;
        visibility: hidden;
        cursor: pointer;
        border: none;
        background-color: transparent;
        background-image: url("../../icons/DownloadButton.svg");
        background-repeat: no-repeat;
        position: absolute;
        bottom: 10px;
        right: 10px;
        align-items: center;
        background-position: center;
        background-size: cover;
        -webkit-user-drag: none;
        height: 50px;
        width: 50px;
        transition: all 0.3s ease;

        &:hover {
            scale: 1.1;
        }
    }
}
