@import "../theme";

.leaderboard {
    user-select: none;
    
    background-color: $display-box-color;
    border-radius: 2em;
    width: 60vw;
    margin-right: auto;
    p {
        text-align: center;
        font-size: larger;
        font-weight: 600;
        color: $button-text-color;
    }

    &.container {
        display: flex;
        flex-direction: column;
        background-color: $display-box-color;
        max-height: $DESKTOP_HEIGHT * 0.6;
        min-width: 50em;
        margin: 20px;
        height: fit-content;
        min-height: 400px;
        overflow-y: scroll;
        overflow-x: hidden;
        @include scrollbar;
    }

    &.separator {
        @include center;
        flex-direction: row;
        background-color: transparent;
    }

    &.button {
        @include center;
        background-color: $button-color;
        color: $button-text-color;
        margin-bottom: 20px;
    }

    &.buttonsContainer {
        display: flex;
        flex-direction: row;
        background-color: transparent;
        min-width: 50em;
        gap: 20px;
        margin: 20px;
        padding: 20px;
        align-items: center;
        @include center;
        justify-content: space-evenly;
    }

    &.elementcontainer {
        display: flex;
        flex-direction: column;
        background-color: transparent;
        border-radius: 2em;
        min-width: 50em;
        max-width: 100%;
        align-items: flex;
        margin-bottom: 20px;
        margin-top: 20px;
        padding: 20px;
    }

    &.user {
        display: flex;
        flex-direction: row;
        color: black;
        font-size: larger;
        font-weight: 600;
        margin: 0px 0px 20px 0px;
        text-shadow: $dropShadow;
        background-color: transparent;
        min-width: 70%;
        max-width: 90%;
        width: fit-content;
    }

    &.textprompt {
        background-color: white;
        color: black;
        max-width: 100%;
        width: fit-content;
        border-radius: 2em;
        font-size: x-large;
        font-weight: 600;
        padding: 20px;
        box-shadow: $dropShadow;
        margin-left: 58px;
    }

    &.drawing {
        position: relative;
        background-color: transparent;
        border-radius: 2em;
        max-width: 50%;
        width: auto;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        transition: all 0.3s ease;

        &:hover {
            .leaderboard.download {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &.no-votes {
        font-size: x-large;
        background-color: $background;
        color: white;
        height: 60px;
        width: 425px;
        @include center;
        font-weight: 600;
        border-radius: 2em;
        padding: 20px;
        margin: auto;
        box-shadow: $dropShadow;
    }

    &.download {
        opacity: 0;
        visibility: hidden;
        cursor: pointer;
        border: none;
        background-color: transparent;
        background-image: url("../../icons/DownloadButton.svg");
        background-repeat: no-repeat;
        position: absolute;
        bottom: 10px;
        right: 10px;
        align-items: center;
        background-position: center;
        background-size: cover;
        -webkit-user-drag: none;
        height: 50px;
        width: 50px;
        transition: all 0.3s ease;

        &:hover {
            scale: 1.1;
        }
    }
}
