@import "../theme";

.userpreview {
    background-position: center;
    background-size: cover;
    -webkit-user-drag: none;
    border: solid;
    border-color: white;
    background-color: $background;
    min-width: 60px;
    min-height: 60px;
    border-width: 2px;
    border-radius: 50%;
    box-shadow: $dropShadow;
}