@import "../theme";

.userpreview {
    background-position: center;
    background-size: cover;
    -webkit-user-drag: none;
    border: solid;
    border-color: white;
    background-color: $background;
    min-width: 60px;
    min-height: 60px;
    border-width: 2px;
    border-radius: 50%;
    box-shadow: $dropShadow;
    &.avatar1 {
        background-image: url("../../icons/avatars/avatar1.svg");
    }
    &.avatar2 {
        background-image: url("../../icons/avatars/avatar2.svg");
    }
    &.avatar3 {
        background-image: url("../../icons/avatars/avatar3.svg");
    }
    &.avatar4 {
        background-image: url("../../icons/avatars/avatar4.svg");
    }
    &.avatar5 {
        background-image: url("../../icons/avatars/avatar5.svg");
    }
    &.avatar6 {
        background-image: url("../../icons/avatars/avatar6.svg");
    }
}