@import "../theme";

.usercontainer {
    width: 600px;
    height: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.308);
    padding: 10px;
    border-radius: 30px;
    justify-content: flex-start;
    overflow-y: scroll;

    @include scrollbar;
}
.user {
    user-select: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
    gap: 5px;
    background-color: transparent;
    height: 70px;
    width: 50%;
    overflow:hidden;
    // text-overflow: ellipsis;
    // white-space: nowrap;
}
.username{
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 200px;
}
.admin {
    color: purple;
    font-weight: bold;
    text-transform: uppercase;
}
