@import "../theme";

.usercontainer {
    width: 600px;
    height: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: $display-box-color;
    padding: 20px;
    border-radius: 30px;
    justify-content: flex-start;
    overflow-y: scroll;

    @include scrollbar;
}
.user {
    user-select: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
    gap: 15px;
    padding: 10px;
    background-color: transparent;
    height: 70px;
    width: 50%;
    font-size: large;
    font-weight: 500;
    overflow: hidden;
}
.username {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 180px;
    width: fit-content;
    text-shadow: $dropShadow;
    height: 25px;
    &.admin {
        position: relative;
        top: 1px;
        color: purple;
        font-weight: 700;
        text-transform: uppercase;
        text-shadow: $dropShadow;
    }
}
